<section>
    <div class="container">
        <h2>ADD SHOW</h2>
        <div class="row">

            <form action="">

                <label for="exampleFormControlSelect1">Select Movie</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>

                <label for="">Date</label>
                <input type="text" name="Date" class="form-control">

                  <label for="">Show Time</label>
                <input type="text" name="Date" class="form-control">
                <input type="text" name="Date" class="form-control">

                <label for="">Class Rates</label>

                <label for="">VIP</label>
                <input type="text" name="Date" class="form-control">

                <label for="">PREMIUM</label>
                <input type="text" name="Date" class="form-control">

                <label for="">EXECUTIVE</label>
                <input type="text" name="Date" class="form-control">

                <label for="">NORMAL</label>
                <input type="text" name="Date" class="form-control">

                <button class="btn btn-danger">CANCEL</button><button class="btn btn-success">ADD SHOW</button>

                


            </form>
        </div>
    </div>
</section>