<div class="container">
    <h3>Add Screen</h3>
    <div class="row">
        <form>
              <label for="">Owner Name</label>
                <input type="text" name="Owner Name" class="form-control">



                <label for="">Theater Name</label>
                <input type="text" name="Theater Name" class="form-control">

                 <button type="Submit" class="btn btn-primary mr-4">Submit</button>


        </form>

    </div>
</div>