<section>
    <div class="container">
        <h3>screens</h3>
        <div class="row mt-4">
            <a href="/theater/add-screen" class="btn btn-success ml-auto">Add Screen</a>
        </div>
           <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th scope="col">Sr.no</th>
      <th scope="col">Screen Name</th>
      <th scope="col">total Seats</th>
      <th scope="col">schedule</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td><a href="/theater/view-schedule" class="btn btn-primary" role="button">view schedule</a></td>
      <td><button class="btn btn-success">EDIT</button><button class="btn btn-danger">DELETE</button></td>
      
    </tr>
    
  </tbody>
  
</table>
</section>



